In [1]:
import mvp

In [3]:
DB_PATH = '/home/naga/FintelligenceData/MetaTrader_M1.db'

In [4]:
petr3_raw = mvp.rawdata.RawData('PETR3',DB_PATH)

In [5]:
petr3_raw.symbol

'PETR3'

In [6]:
petr3_raw.df

                      Open   High    Low  Close  TickVol  Volume
DateTime
2015-12-01 10:01:00   9.04   9.09   9.04   9.09        5    4400
2015-12-01 10:02:00   9.09   9.11   9.09   9.11        3     800
2015-12-01 10:03:00   9.16   9.16   9.16   9.16        1     400
2015-12-01 10:04:00   9.16   9.24   9.12   9.24       20   23100
2015-12-01 10:05:00   9.23   9.25   9.20   9.20        7   11300
...                    ...    ...    ...    ...      ...     ...
2020-12-01 10:24:00  26.04  26.09  26.02  26.09       76   55800
2020-12-01 10:25:00  26.09  26.09  26.07  26.09       13    5300
2020-12-01 10:26:00  26.10  26.10  26.09  26.09       14   14200
2020-12-01 10:27:00  26.07  26.08  26.07  26.08       32   23400
2020-12-01 10:28:00  26.08  26.08  26.06  26.08       29   14600

[527856 rows x 6 columns]

In [7]:
petr3 = mvp.curated.CuratedData(petr3_raw,{"MA":[500,5000],"RSI":[750]})

In [10]:
data = petr3.df_curated.dropna()

In [11]:
data

,Open,High,Low,Close,TickVol,Volume,MA_500,MA_5000,RSI_750
DateTime,,,,,,,,,
2015-12-17 11:41:00,8.98,8.98,8.96,8.97,34,13200,8.71128,8.844142,51.445967
2015-12-17 11:42:00,8.96,8.97,8.95,8.96,39,14500,8.71188,8.844116,51.445967
2015-12-17 11:43:00,8.95,8.97,8.95,8.96,54,17300,8.71250,8.844086,51.297710
2015-12-17 11:44:00,8.96,8.97,8.95,8.96,61,28500,8.71312,8.844046,51.297710
2015-12-17 11:45:00,8.96,8.97,8.96,8.96,39,15100,8.71378,8.843990,51.148545
...,...,...,...,...,...,...,...,...,...
2020-12-01 10:24:00,26.04,26.09,26.02,26.09,76,55800,25.93516,25.345062,48.966942
2020-12-01 10:25:00,26.09,26.09,26.07,26.09,13,5300,25.93534,25.345454,48.966942
2020-12-01 10:26:00,26.10,26.10,26.09,26.09,14,14200,25.93548,25.345846,48.755187
2020-12-01 10:27:00,26.07,26.08,26.07,26.08,32,23400,25.93562,25.346240,48.856549
2020-12-01 10:28:00,26.08,26.08,26.06,26.08,29,14600,25.93568,25.346632,48.890430

In [13]:
data['RSI_750'].argmax()

254165

In [15]:
data.iloc[data['RSI_750'].argmin()]

Open           17.670000
High           17.700000
Low            17.530000
Close          17.540000
TickVol       387.000000
Volume     254700.000000
MA_500         24.306920
MA_5000        28.185716
RSI_750        33.288182
Name: 2020-03-09 10:23:00, dtype: float64